//------------------------------
// *****************************
// Index
// *****************************
//------------------------------
@import "~@aeternity/aepp-components/src/styles/globals/mixins";
@import "~@aeternity/aepp-components/src/styles/globals/functions";
@import "~@aeternity/aepp-components/src/styles/placeholders/typography";
@import "~@aeternity/aepp-components/src/styles/variables/animations";
@import "~@aeternity/aepp-components/src/styles/variables/colors";
@import "~@aeternity/aepp-components/src/styles/variables/paths";
@import "~@aeternity/aepp-components/src/styles/variables/typography";

@keyframes rotate {
  from {
    transform: scaleX(-1) rotate(0deg);
  }

  to {
    transform: scaleX(-1) rotate(360deg);
  }
}

html, body, #view {
  height: 100%;
  min-height: 100%;
}

.loading {
  width: 50px;
  animation: rotate 2s reverse infinite linear;
}
